## Q1 Write a program to create a tuple

In [1]:
x=(10,23)
type(x)

tuple

## Q2 Write a program to create tuple with different data types

In [2]:
fruit={"apple","banana","cherry"}
for x in fruit:
    print(x)

banana
cherry
apple

## Q3 Write a program with number and print one item

In [3]:
x=(34,45,56,67)
print(x[2])

56

## Q4 Write a program to add an item in tuple

In [7]:
tuple=(23,45,67,78)
tuple + (6,)
print(tuple)

(23, 45, 67, 78)

## Q5 Write a program to convert tuple to string

In [9]:
tup1 = ('h','e','l','l','o')
str = ''.join(tup1)
print (str)

hello

## Q6 Write a program to get 4th element and 4th element from last of a tuple

In [10]:
t = ('h','e','l','l','o','m','n')
print(t)
i =t[3]
print("4th Elements From Tuple :",i)
j = t[-4]
print("4th Elements From Last Tuple :",j)

('h', 'e', 'l', 'l', 'o', 'm', 'n')
4th Elements From Tuple : l
4th Elements From Last Tuple : l